body{
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}



.h-1{
  height: 1%;
}

.h-2{
  height: 2%;
}

.h-3{
  height: 3%;
}

.h-4{
  height: 4%;
}

.h-5{
  height: 5%;
}

.h-6{
  height: 6%;
}

.h-7{
  height: 7%;
}

.h-8{
  height: 8%;
}

.h-9{
  height: 9%;
}

.h-10{
  height: 10%;
}

.h-11{
  height: 11%;
}

.h-12{
  height: 12%;
}

.h-13{
  height: 13%;
}

.h-14{
  height: 14%;
}

.h-15{
  height: 15%;
}

.h-16{
  height: 16%;
}

.h-17{
  height: 17%;
}

.h-18{
  height: 18%;
}

.h-19{
  height: 19%;
}

.h-20{
  height: 20%;
}

.h-21{
  height: 21%;
}

.h-22{
  height: 22%;
}

.h-23{
  height: 23%;
}

.h-24{
  height: 24%;
}

.h-25{
  height: 25%;
}

.h-26{
  height: 26%;
}

.h-27{
  height: 27%;
}

.h-28{
  height: 28%;
}

.h-29{
  height: 29%;
}


.h-30{
  height: 30%;
}

.h-31{
  height: 31%;
}

.h-32{
  height: 32%;
}

.h-33{
  height: 33%;
}

.h-34{
  height: 34%;
}

.h-35{
  height: 35%;
}

.h-36{
  height: 36%;
}

.h-37{
  height: 37%;
}

.h-38{
  height: 38%;
}

.h-39{
  height: 39%;
}

.h-40{
  height: 40%;
}

.h-60{
  height: 60%;
}

.h-70{
  height: 70%;
}

.h-80{
  height: 80%;
}

.h-90{
  height: 90%;
}

.h-95{
  height: 95%;
}

/* layout.html card design */
.trapezoid-left {
  border-left: 20px solid;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}
/* layout.html card design end */


/* Layout-2.html design*/
.bg-grey{
  background-color: rgb(252, 248, 230)!important;
}
.f20{
  font-size: 40px;
}

.jc{
  display: flex;
  justify-content: center;
  align-items: center;
}





@media (max-width: 978px) {
  .sidebar{
    display: none;
  }

  .main-content{
    width: 100vw;
  }

  .navbar{
    display: block;
  }
}
/* Layout-2.html design end */

/* Cards.html design */
/* card 1 design*/
.ovf {
  width: 220px;
  height: 220px;
  position: absolute;
  border-radius: 50%;
  top: -100px;
  right: -100px;
  background-color: rgba(255, 255, 255, 0.2);
}

.ovf2 {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
  bottom: -50px;
  right: 0;
  background-color: rgba(255, 255, 255, 0.2);
}

.ovf3 {
  width: 30px;
  height: 30px;
  position: absolute;
  border-radius: 50%;
  top: 10px;
  background-color: rgba(255, 255, 255, 0.2);
}


.ovf4 {
    width: 80px;
    height: 80px;
    position: absolute;
    border-radius: 50%;
    top: 10px;
    left: 20px;
    background-color: rgba(255, 255, 255, 0.2);
  }



  
  
/* card 2 design */
.iconcontainer{
  position:absolute;
  top:-40px;
  left: 20px;
  padding: 10px;
}

/* card 3 design */
.plg{
  transform: skewX(30deg);
  transform-origin: top ;
}

.reglr{
  transform: skewX(-30deg);
  transform-origin: top ;
}

/* Cards.html design end */
/* card 1 design */
.counter{
  color: #9D26B4;
  font-family: 'Poppins', sans-serif;
  text-align: right;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}
.counter:before{
  content: '';
  background: radial-gradient(at 5% 10%, #e7e7e7 10%, transparent 50%, transparent 80%, #e7e7e7 100%);
  border: 5px solid #9D26B4;
  border-radius: 0 100px 0 50px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  transition: all 0.3s ease 0s;
}
.counter:hover:before{ box-shadow: 0 0 8px rgba(0,0,0,0.5); }
.counter .counter-icon{
  color: #fff;
  background: #9D26B4;
  font-size: 40px;
  text-align: center;
  line-height: 70px;
  width: 80px;
  height: 80px;
  margin: 0 0 15px;
  border-radius: 50px;
  border: 6px solid #fff;
  display: inline-block;
}
.counter h3{
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
  padding: 0 13px;
  margin: 0 0 15px;
}
.counter .counter-value{
  font-size: 35px;
  font-weight: 600;
  line-height: 35px;
  text-align: center;
  display: block;
}
.counter.red{ color: #FA1212; }
.counter.red:before{ border-color: #FA1212; }
.counter.red .counter-icon{ background-color: #FA1212; }
.counter.blue{ color: #0F6085; }
.counter.blue:before{ border-color: #0F6085; }
.counter.blue .counter-icon{ background-color: #0F6085; }
.counter.green{ color: #009068; }
.counter.green:before{ border-color: #009068; }
.counter.green .counter-icon{ background-color: #009068; }
@media screen and (max-width:990px){
  .counter{ margin-bottom: 40px; }
}
/* card 1 design end */

/* card 2 design */
.counter2{
  color: #F14997;
  background: linear-gradient(to right bottom,#fff 50%, #f9f9f9 51%);
  font-family: 'Comfortaa', cursive;
  text-align: center;
  width: 200px;
  padding: 20px 0 0;
  margin: 0 auto;
  border-radius: 50px 0;
  box-shadow: 0 0 15px -5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}
.counter2 .counter-icon2{
  font-size: 45px;
  margin: 0 0 10px;
}
.counter2 h3{
  font-size: 18px;
  font-weight: 700;
  text-transform: capitalize;
  margin: 0 0 20px;
}
.counter2 .counter-value2{
  color: #fff;
  background: linear-gradient(to right bottom, #FD8ED2, #F14997);
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  padding: 7px 0 3px;
  display: block;
}
.counter2.blue{ color: #0092CD; }
.counter2.blue .counter-value2{ background: linear-gradient(to right bottom, #06BBF4, #0092CD); }
.counter2.orange{ color: #FB9A00; }
.counter2.orange .counter-value2{ background: linear-gradient(to right bottom, #FCCA09, #FB9A00); }
.counter2.green{ color: #03BFB0; }
.counter2.green .counter-value2{ background: linear-gradient(to right bottom, #00E2CD, #03BFB0); }
@media screen and (max-width:990px){
  .counter2{ margin-bottom: 40px; }
}
/* card 2 design end */
/* card 3 design */
.counter3{
  font-family: 'Dosis', sans-serif;
  color: #760b24;
  width: 200px;
  text-align: center;
  padding: 50px 15px 7px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}
.counter3:before,
.counter3:after{
  content: "";
  background-color: #760b24;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 40px;
  z-index: -1;
}
.counter3:after{
  background-color: #fff;
  height: 120px;
  width: 120px;
  border-radius: 100px 0 0 0;
  transform: translateX(-50%) rotate(45deg);
  left: 50%;
  top: -10px;
}
.counter3 .counter-content3{
  background-color: #fff;
  padding-bottom: 15px;
  border-radius: 0 0 20px 20px;
}
.counter3 .counter-icon3{
  font-size: 30px;
  line-height: 20px;
  margin: 0 0 15px;
}
.counter3 .counter-value3{
  font-size: 30px;
  font-weight: 600;
  display: block;
}
.counter3 h3{
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
  margin: 0 0 8px;
}
.counter3.purple{ color: #7b237d; }
.counter3.purple:before{ background-color: #7b237d; }
.counter3.green{ color: #0db812; }
.counter3.green:before{ background-color: #0db812; }
.counter3.cgreen{ color: #02bd88; }
.counter3.cgreen:before{ background-color: #02bd88; }
@media screen and (max-width:990px){
  .counter3{ margin-bottom: 40px; }
}
/* card 3 design end */
/* cards2.html design */
